// 0 - off
// 1 - warning
// 2 - on

{
  "parser": "babel-eslint",
  "rules": {
    // Possible errors
    "valid-jsdoc": [2, { requireReturn: false, prefer: { return: "returns" }}],

    "no-invalid-regexp": 2,
    "comma-dangle": [2, "never"],
    "no-undef": 0, // we use angular modules so must be disabled
    "no-debugger": 2,
    "no-extra-semi": 2,
    "semi": [2, "always"],
    "no-unreachable": 2,

    // Stylistic Issues
    "block-spacing": [2, "always"],
    "indent": [2, 4],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "camelcase": 2,
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "eol-last": 0,
    "func-style": 0,
    "no-nested-ternary": 2,
    "new-cap": 0,
    "no-multiple-empty-lines": [2, {max: 4, maxEOF: 20}],
    "no-redeclare": [2, {"builtinGlobals": true}],
    "no-underscore-dangle": 0,
    "no-trailing-spaces": 0,
    "keyword-spacing": [2, { "before": true }],
    "space-before-function-paren": [2, "never"],
    "space-before-blocks": 2,
    "spaced-comment": [2, "always", { exceptions: ["-", "+"]}],
    "quotes": [2, "double", "avoid-escape"],


    // Best practices
    "eqeqeq": [2, "allow-null"],
    "default-case": 2,
    "no-empty": 2,
    "guard-for-in": 2,
    "no-alert": 2,
    "curly": [2, "all"],
    "no-new": 2,
    "no-caller": 2,
    "no-floating-decimal": 2,
    "radix": 2,
    "wrap-iife": 2,


    // Strict
    "strict": 0, // in ES6 is allways in strict mode


    // Variables
    "no-undefined": 0,
    "no-use-before-define": 2,
    "no-unused-vars": [0, {"vars": "local", "args": "after-used"}],
    "no-shadow": [2, {"builtinGlobals": false, "hoist": "functions", "allow": []}]
  }
}
