*.config.js
*.conf.js
*.tgz
*.json
*.cfg
*.log
src
coverage
test
dist/docs
web-demo-app
react-native-demo-app
Dockerfile
.git
.gitignore
.gitlab-ci.yml
.npmignore
.npmrc
.editorconfig
.dockerignore
WHATS_NEW.md