body {
    padding-top: 50px;
}

.login-form {
    text-align: center;
}

#page-contents {
    margin-top: 40px;
    height: 100%;
    width: 100%;
}

#room-list {
    margin-bottom: 10px
}

.info {
    color: gray;
}

.out-of-way {
    color: orange;
}

.delivered::after {
    content: " ✓";
}

.panel {
    margin-bottom: 10px;
    border: none;
}

.chatbox-textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.video-stream {
    width: 100%;
}