html, body {
    overflow: hidden;
    height: 100%;
}

body {
    padding-top: 50px;
}

.body-wrap {
    overflow: auto;
    height: 100%;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#page-contents {
    margin-top: 40px;
    height: 100%;
}

#login-box {
    text-align: center;
}

#chat, #chat > div, #chatbox-container, .chatbox, .callbox {
    height: 100%;
}

#room-list {
    margin-bottom: 10px
}

.info {
    color: gray;
}

.out-of-way {
    color: orange;
}

.delivered::after {
    content: " ✓";
}

.chatbox-textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
}

.video-stream {
    width: 100%;
}